main {
  height: 100%;
  width: 80%;
  margin-inline: auto;
}

#edit-password,
#general-details,
.background {
  background-color: #d9d9d9;
}

textarea {
  border: 1px solid #c3c3c367;
  border-radius: 5px;
  width: 100%;
  height: 120px;
  resize: none;
  accent-color: rgb(43, 234, 255);
}

textarea:focus {
  outline: none;
}

.profile-container {
  .btn-outline-secondary {
    position: relative;
    overflow: hidden;
    input[type='file'] {
      position: absolute;
      left: 0;
      top: 0;
      opacity: 0;
      height: 100%;
      width: 100%;
      cursor: pointer;
    }
  }

  .form-control,
  .form-select {
    border-radius: 0.5rem;
  }

  .btn {
    border-radius: 0.5rem;
  }

  .gap-3 {
    gap: 1rem;
  }
}
